n8n-workflow-cheraghilaw-final.json
{
  "name": "چراغی لا - مقاله روزانه (نهایی)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-140, 0],
      "id": "8cc91ed9-manual",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 10 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-140, 200],
      "id": "e97ef9c6-schedule",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// <<<< API KEY خودت رو فقط اینجا عوض کن >>>>\nconst API_KEY = 'API_KEY_INJA';\n// ============================================\n\nconst topics = [\n  { topic: 'طلاق توافقی چیست و چه مراحلی دارد؟ بررسی کامل شرایط و مدارک', keyword: 'طلاق توافقی', word_count: 2000 },\n  { topic: 'مهریه چیست؟ انواع مهریه و نحوه مطالبه مهریه از طریق دادگاه', keyword: 'مطالبه مهریه', word_count: 2000 },\n  { topic: 'حضانت فرزند بعد از طلاق: حق حضانت مادر و پدر و سن حضانت', keyword: 'حضانت فرزند', word_count: 1800 },\n  { topic: 'نفقه زن: میزان نفقه و شرایط مطالبه نفقه و ضمانت اجرا', keyword: 'نفقه زن', word_count: 1500 },\n  { topic: 'نحوه طرح شکایت کیفری: مراحل شکایت در دادسرا و مدارک لازم', keyword: 'شکایت کیفری', word_count: 1800 },\n  { topic: 'جرم کلاهبرداری در قانون ایران: تعریف و مصادیق و مجازات', keyword: 'کلاهبرداری', word_count: 2000 },\n  { topic: 'خیانت در امانت: تعریف حقوقی و تفاوت با سرقت و مجازات', keyword: 'خیانت در امانت', word_count: 1500 },\n  { topic: 'دعاوی ملکی: خلع ید و تصرف عدوانی و الزام به تنظیم سند', keyword: 'دعاوی ملکی', word_count: 2200 },\n  { topic: 'قرارداد اجاره: حقوق موجر و مستاجر و فسخ اجاره', keyword: 'حقوق مستاجر', word_count: 1800 },\n  { topic: 'چک برگشتی: نحوه شکایت و مجازات صادرکننده چک بلامحل', keyword: 'چک برگشتی', word_count: 2000 },\n  { topic: 'وصول مطالبات: روش‌های حقوقی وصول طلب و توقیف اموال', keyword: 'وصول مطالبات', word_count: 1500 },\n  { topic: 'قانون ارث در ایران: سهم‌الارث و نحوه تقسیم ارث', keyword: 'تقسیم ارث', word_count: 2200 },\n  { topic: 'حقوق کارگر و کارفرما: قرارداد کار و اخراج و سنوات', keyword: 'حقوق کارگر', word_count: 1800 },\n  { topic: 'دیه چیست؟ نحوه محاسبه دیه و نرخ دیه و انواع دیه', keyword: 'محاسبه دیه', word_count: 1500 },\n  { topic: 'چرا به وکیل نیاز دارید؟ مزایای وکیل پایه یک دادگستری', keyword: 'وکیل پایه یک دادگستری همدان', word_count: 1500 }\n];\n\nconst counter = $getWorkflowStaticData('global');\nlet index = counter.topicIndex || 0;\nif (index >= topics.length) index = 0;\nconst pick = topics[index];\ncounter.topicIndex = index + 1;\n\nconst prompt = 'تو یک وکیل پایه یک دادگستری و متخصص تولید محتوای حقوقی سئو شده هستی. برای سایت دفتر وکالت چراغی در همدان مقاله بنویس.' +\n  '\\n\\nموضوع: ' + pick.topic +\n  '\\nکلمه کلیدی اصلی: ' + pick.keyword +\n  '\\nتعداد کلمات: حداقل ' + pick.word_count + ' کلمه' +\n  '\\n\\nقوانین: مقاله جامع و مبتنی بر قوانین ایران باشد. به مواد قانونی اشاره کن. مثال عملی بزن. لحن حرفه‌ای ولی ساده. در پایان بنویس: برای مشاوره حقوقی تخصصی در همدان با دفتر وکالت چراغی تماس بگیرید.' +\n  '\\n\\nسئو: کلمه کلیدی در عنوان و جمله اول و ۲ زیرعنوان و متا دیسکریپشن باشد. ۴ تا ۶ بار در متن. عنوان حداکثر ۶۰ کاراکتر. متا ۱۵۰ کاراکتر.' +\n  '\\n\\nساختار: مقدمه ۲ پاراگراف. حداقل ۴ بخش h2. هر بخش ۲ پاراگراف. از h3 و ul و li و strong استفاده کن. ۴ سوال متداول. نتیجه‌گیری.' +\n  '\\n\\nفرمت خروجی - حتماً با این جداکننده‌ها:' +\n  '\\n===TITLE===' +\n  '\\n(عنوان)' +\n  '\\n===CONTENT===' +\n  '\\n(متن HTML)' +\n  '\\n===KEYWORD===' +\n  '\\n(کلمه کلیدی)' +\n  '\\n===META===' +\n  '\\n(متا ۱۵۰ کاراکتر)';\n\nreturn [{\n  json: {\n    request_body: {\n      api_key: API_KEY,\n      model: 'claude-sonnet-4-6',\n      max_tokens: 8000,\n      messages: [{ role: 'user', content: prompt }]\n    },\n    topic: pick.topic,\n    keyword: pick.keyword,\n    word_count: pick.word_count\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 0],
      "id": "topic-and-prompt",
      "name": "آماده‌سازی"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sweet-meadow-8623.sfarnam73.workers.dev",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify($json.request_body) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [380, 0],
      "id": "claude-http",
      "name": "ارسال به Claude"
    },
    {
      "parameters": {
        "jsCode": "const data = $('ارسال به Claude').first().json;\nlet raw = '';\n\nif (data.content && Array.isArray(data.content)) {\n  raw = data.content[0].text;\n} else if (data.text) {\n  raw = data.text;\n} else if (data.error) {\n  throw new Error('خطای Claude: ' + (data.error.message || JSON.stringify(data.error)));\n} else {\n  throw new Error('پاسخ نامعتبر');\n}\n\nfunction getPart(label, next) {\n  let s = raw.indexOf('===' + label + '===');\n  if (s === -1) return '';\n  s += ('===' + label + '===').length;\n  let e = next ? raw.indexOf('===' + next + '===') : raw.length;\n  if (e === -1) e = raw.length;\n  return raw.substring(s, e).trim();\n}\n\nconst topicData = $('آماده‌سازی').first().json;\nlet title = getPart('TITLE', 'CONTENT') || topicData.topic;\nlet content = getPart('CONTENT', 'KEYWORD');\nlet keyword = getPart('KEYWORD', 'META') || topicData.keyword;\nlet meta = getPart('META', null) || title;\n\nif (!content) throw new Error('مقاله تولید نشد');\n\nreturn [{ json: { title, content, focus_keyword: keyword, meta_description: meta } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 0],
      "id": "parse-response",
      "name": "پردازش پاسخ"
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "additionalFields": { "content": "={{ $json.content }}", "status": "publish" }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [860, 0],
      "id": "062e6cdd-wp",
      "name": "انتشار در وردپرس",
      "credentials": {
        "wordpressApi": { "id": "33IQJRFQvqOZ0C2Q", "name": "Wordpress account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cheraghilaw.ir/wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ meta: { rank_math_focus_keyword: $('پردازش پاسخ').item.json.focus_keyword, rank_math_description: $('پردازش پاسخ').item.json.meta_description, rank_math_title: $('پردازش پاسخ').item.json.title } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1100, 0],
      "id": "67c77570-rm",
      "name": "ثبت سئو Rank Math",
      "credentials": {
        "httpBasicAuth": { "id": "j26s31CeVBcmCoO4", "name": "Unnamed credential" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.google.com/ping?sitemap=https://cheraghilaw.ir/sitemap_index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1340, 0],
      "id": "a1b2c3d4-gp",
      "name": "پینگ Google"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "آماده‌سازی", "type": "main", "index": 0 }]]
    },
    "Schedule Trigger": {
      "main": [[{ "node": "آماده‌سازی", "type": "main", "index": 0 }]]
    },
    "آماده‌سازی": {
      "main": [[{ "node": "ارسال به Claude", "type": "main", "index": 0 }]]
    },
    "ارسال به Claude": {
      "main": [[{ "node": "پردازش پاسخ", "type": "main", "index": 0 }]]
    },
    "پردازش پاسخ": {
      "main": [[{ "node": "انتشار در وردپرس", "type": "main", "index": 0 }]]
    },
    "انتشار در وردپرس": {
      "main": [[{ "node": "ثبت سئو Rank Math", "type": "main", "index": 0 }]]
    },
    "ثبت سئو Rank Math": {
      "main": [[{ "node": "پینگ Google", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "timezone": "Asia/Tehran" },
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "e4156f4ea5c73ae9dc5458c0288854b1eaee0802888be7dece414ea34e7e7e88" },
  "nodeGroups": [],
  "tags": []
}
