n8n-workflow-cheraghilaw-final.json
{
  "name": "چراغی لا - مقاله روزانه (نهایی)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-140, 0],
      "id": "8cc91ed9-manual",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 10 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-140, 200],
      "id": "e97ef9c6-schedule",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// <<<< API KEY خودت رو فقط اینجا عوض کن >>>>\nconst API_KEY = 'API_KEY_INJA';\n// ============================================\n\nconst WORKER_URL = 'https://sweet-meadow-8623.sfarnam73.workers.dev';\n\nconst topics = [\n  { topic: 'طلاق توافقی چیست و چه مراحلی دارد؟ بررسی کامل شرایط و مدارک', keyword: 'طلاق توافقی', word_count: 2000 },\n  { topic: 'مهریه چیست؟ انواع مهریه و نحوه مطالبه مهریه از طریق دادگاه', keyword: 'مطالبه مهریه', word_count: 2000 },\n  { topic: 'حضانت فرزند بعد از طلاق: حق حضانت مادر و پدر و سن حضانت', keyword: 'حضانت فرزند', word_count: 1800 },\n  { topic: 'نفقه زن: میزان نفقه و شرایط مطالبه نفقه و ضمانت اجرا', keyword: 'نفقه زن', word_count: 1500 },\n  { topic: 'نحوه طرح شکایت کیفری: مراحل شکایت در دادسرا و مدارک لازم', keyword: 'شکایت کیفری', word_count: 1800 },\n  { topic: 'جرم کلاهبرداری در قانون ایران: تعریف و مصادیق و مجازات', keyword: 'کلاهبرداری', word_count: 2000 },\n  { topic: 'خیانت در امانت: تعریف حقوقی و تفاوت با سرقت و مجازات', keyword: 'خیانت در امانت', word_count: 1500 },\n  { topic: 'دعاوی ملکی: خلع ید و تصرف عدوانی و الزام به تنظیم سند', keyword: 'دعاوی ملکی', word_count: 2200 },\n  { topic: 'قرارداد اجاره: حقوق موجر و مستاجر و فسخ اجاره', keyword: 'حقوق مستاجر', word_count: 1800 },\n  { topic: 'چک برگشتی: نحوه شکایت و مجازات صادرکننده چک بلامحل', keyword: 'چک برگشتی', word_count: 2000 },\n  { topic: 'وصول مطالبات: روش‌های حقوقی وصول طلب و توقیف اموال', keyword: 'وصول مطالبات', word_count: 1500 },\n  { topic: 'قانون ارث در ایران: سهم‌الارث و نحوه تقسیم ارث', keyword: 'تقسیم ارث', word_count: 2200 },\n  { topic: 'حقوق کارگر و کارفرما: قرارداد کار و اخراج و سنوات', keyword: 'حقوق کارگر', word_count: 1800 },\n  { topic: 'دیه چیست؟ نحوه محاسبه دیه و نرخ دیه و انواع دیه', keyword: 'محاسبه دیه', word_count: 1500 },\n  { topic: 'چرا به وکیل نیاز دارید؟ مزایای وکیل پایه یک دادگستری', keyword: 'وکیل پایه یک دادگستری همدان', word_count: 1500 }\n];\n\n// انتخاب موضوع بعدی\nconst counter = $getWorkflowStaticData('global');\nlet index = counter.topicIndex || 0;\nif (index >= topics.length) index = 0;\nconst pick = topics[index];\ncounter.topicIndex = index + 1;\n\n// ساخت پرامپت\nconst prompt = 'تو یک وکیل پایه یک دادگستری و متخصص تولید محتوای حقوقی سئو شده هستی. برای سایت دفتر وکالت چراغی در همدان مقاله بنویس.' +\n  '\\n\\nموضوع: ' + pick.topic +\n  '\\nکلمه کلیدی اصلی: ' + pick.keyword +\n  '\\nتعداد کلمات: حداقل ' + pick.word_count + ' کلمه' +\n  '\\n\\n=== قوانین نگارش ===' +\n  '\\n۱. مقاله باید جامع و دقیق و مبتنی بر قوانین جمهوری اسلامی ایران باشد.' +\n  '\\n۲. هر جا مرتبط است به شماره مواد قانونی اشاره کن.' +\n  '\\n۳. از مثال‌های عملی و واقعی استفاده کن.' +\n  '\\n۴. لحن مقاله حرفه‌ای ولی ساده و قابل فهم برای عموم مردم باشد.' +\n  '\\n۵. در پایان مقاله بنویس: برای مشاوره حقوقی تخصصی در همدان با دفتر وکالت چراغی تماس بگیرید.' +\n  '\\n\\n=== قوانین سئو ===' +\n  '\\n۱. کلمه کلیدی اصلی باید در عنوان و جمله اول مقدمه و حداقل ۲ زیرعنوان و متا دیسکریپشن بیاید.' +\n  '\\n۲. کلمه کلیدی را ۴ تا ۶ بار طبیعی در متن استفاده کن.' +\n  '\\n۳. عنوان حداکثر ۶۰ کاراکتر و جذاب باشد.' +\n  '\\n۴. متا دیسکریپشن دقیقاً ۱۵۰ کاراکتر باشد.' +\n  '\\n\\n=== ساختار مقاله ===' +\n  '\\n- مقدمه: ۲ تا ۳ پاراگراف' +\n  '\\n- حداقل ۴ بخش با زیرعنوان h2' +\n  '\\n- هر بخش حداقل ۲ پاراگراف کامل' +\n  '\\n- از h3 و ul و li و strong استفاده کن' +\n  '\\n- بخش سوالات متداول: ۴ سوال و جواب' +\n  '\\n- نتیجه‌گیری' +\n  '\\n\\n=== فرمت خروجی ===' +\n  '\\nحتماً با این جداکننده‌ها بنویس:' +\n  '\\n===TITLE===' +\n  '\\n(عنوان مقاله)' +\n  '\\n===CONTENT===' +\n  '\\n(متن کامل مقاله با تگ‌های HTML)' +\n  '\\n===KEYWORD===' +\n  '\\n(فقط کلمه کلیدی اصلی)' +\n  '\\n===META===' +\n  '\\n(متا دیسکریپشن ۱۵۰ کاراکتری)' +\n  '\\n\\nهیچ بخشی را خالی نگذار.';\n\n// ارسال به Cloudflare Worker\nconst response = await fetch(WORKER_URL, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    api_key: API_KEY,\n    model: 'claude-sonnet-4-6',\n    max_tokens: 8000,\n    messages: [{ role: 'user', content: prompt }]\n  })\n});\n\nconst data = await response.json();\n\nif (data.error) {\n  throw new Error('خطای Claude: ' + (data.error.message || JSON.stringify(data.error)));\n}\n\n// پارس کردن پاسخ\nlet raw = '';\nif (data.content && Array.isArray(data.content)) {\n  raw = data.content[0].text;\n} else if (data.text) {\n  raw = data.text;\n} else {\n  throw new Error('پاسخ نامعتبر از Claude');\n}\n\nfunction getPart(label, next) {\n  let start = raw.indexOf('===' + label + '===');\n  if (start === -1) return '';\n  start = start + ('===' + label + '===').length;\n  let end = next ? raw.indexOf('===' + next + '===') : raw.length;\n  if (end === -1) end = raw.length;\n  return raw.substring(start, end).trim();\n}\n\nlet title = getPart('TITLE', 'CONTENT');\nlet content = getPart('CONTENT', 'KEYWORD');\nlet keyword = getPart('KEYWORD', 'META');\nlet meta = getPart('META', null);\n\nif (!title) title = pick.topic;\nif (!keyword) keyword = pick.keyword;\nif (!meta) meta = title;\nif (!content) throw new Error('مقاله تولید نشد');\n\nreturn [{\n  json: {\n    title: title,\n    content: content,\n    focus_keyword: keyword,\n    meta_description: meta\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [140, 0],
      "id": "all-in-one-claude",
      "name": "تولید مقاله"
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.content }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [420, 0],
      "id": "062e6cdd-wordpress",
      "name": "انتشار در وردپرس",
      "credentials": {
        "wordpressApi": {
          "id": "33IQJRFQvqOZ0C2Q",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cheraghilaw.ir/wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ meta: { rank_math_focus_keyword: $('تولید مقاله').item.json.focus_keyword, rank_math_description: $('تولید مقاله').item.json.meta_description, rank_math_title: $('تولید مقاله').item.json.title } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [700, 0],
      "id": "67c77570-rankmath",
      "name": "ثبت سئو Rank Math",
      "credentials": {
        "httpBasicAuth": {
          "id": "j26s31CeVBcmCoO4",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.google.com/ping?sitemap=https://cheraghilaw.ir/sitemap_index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [980, 0],
      "id": "a1b2c3d4-google",
      "name": "پینگ Google"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "تولید مقاله", "type": "main", "index": 0 }]]
    },
    "Schedule Trigger": {
      "main": [[{ "node": "تولید مقاله", "type": "main", "index": 0 }]]
    },
    "تولید مقاله": {
      "main": [[{ "node": "انتشار در وردپرس", "type": "main", "index": 0 }]]
    },
    "انتشار در وردپرس": {
      "main": [[{ "node": "ثبت سئو Rank Math", "type": "main", "index": 0 }]]
    },
    "ثبت سئو Rank Math": {
      "main": [[{ "node": "پینگ Google", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tehran"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4156f4ea5c73ae9dc5458c0288854b1eaee0802888be7dece414ea34e7e7e88"
  },
  "nodeGroups": [],
  "tags": []
}
